{% extends 'base.html.twig' %}

{% block title %}📅 Mes Réservations
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
	<div class="container-fluid min-vh-100">
		<div
			class="row p-4">
			<!-- Sidebar -->
			<div class="col-12 col-lg-3 mb-3">
				{% include 'profile/_sidebar.html.twig' %}
			</div>

			<!-- Contenu principal -->
			<div id="dynamicContent" class="col-12 col-lg-9 p-4 p-md-5 border shadow">
				<h2 class="mb-3">📅 Mes Réservations</h2>

				{% if bookings is empty %}
					<p class="text-muted text-center">😕 Aucune réservation pour le moment.</p>
				{% else %}
					<div class="list-group">
						{% for booking in bookings %}
							<div class="list-group-item list-group-item-action mb-3 shadow-sm p-4 rounded">
								<div
									class="d-flex w-100 justify-content-between align-items-center">
									<!-- Miniature de l'image -->
									<img src="{{ asset('images/bootcamps/' ~ booking.product.bgName )}}" class="rounded border" alt="image {{ booking.product.forfait }}" style="width: 80px; height: 80px; object-fit: cover;">

									<div class="flex-grow-1 ms-3">
										<h5 class="mb-1 text-primary">
											{{ booking.product.forfait }}
										</h5>
										<small class="text-muted">{{ booking.createdAt|date('d/m/Y H:i') }}</small>
									</div>
								</div>

								<p class="mb-2">
									<strong>Payée :</strong>
									{% if booking.isPaid %}
										<span class="badge bg-success">Oui</span>
									{% else %}
										<span class="badge bg-warning">Non</span>
									{% endif %}
								</p>

								<div class="text-end">
									<a href="{{ path('app_booking_detail', {id: booking.id}) }}" class="btn btn-outline-blueboot fw-bold btn-sm position-absolute top-0 end-0 mt-2 me-2">
										📄 Voir les détails
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
