{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{% endblock %}

{% block body %}
	<div class=" vh-100" id="home">{# <div class="container-fluid" id="accueil">
						<div class="row gx-0">
							<div class="col-lg-8 mx-auto">
								<p class="textAccueil">
									Bienvenue sur BOOTCAMPSCENTURIO : l'aventure rencontre la discipline, où le dépassemnt de soi devient un mode de vie. Plongez dans un monde où l'esprit militaire s'allie à la camaraderie, pour offrir des expériences inoubliables à tous.
									<br>
									Que vous soyez un particulier en quête d'une aventure excitante, une entreprise cherchant à renforcer la cohésion d'équipe, ou une collectivité à la recherche d'une activité unique pour vos membres, nous avons des bootcamps adaptés à vos besoins.
									<br>
									Nos bootcamps offrent des défis exaltants conçus pour tous les niveaux, transformant chauqe obstacle en opportunité de grandir et de se surpasser. Embarquez pour une aventure stimulante au coeur de la nature, guidés par notre équipe d'experts pour une expérience sûre et mémorable.
									<br>
									<strong>Pourquoi choisir BOOTCAMPSCENTURIO ?</strong>
									<br>
									<strong>. Pour les particuliers</strong>
									: Vivez des aventures uniques et formez des liens forts avec vos amis lors de nos EVG et EVJF.
									<br>
									<strong>. Pour les entreprises</strong>
									: Renforcez l'esprit d'équipe et la cohésion lors de nos team buildings dynamiques.
									<br>
									<strong>. Pour les collectivités</strong>
									: Offrez des expériences passionnantes à vos menbres, des associations sportives aux centes de loisirs.
									<br>
									Rejoignez notre communauté de guerriers modernes, prêts à relever les défis, forger des souvenirs et célébrer les victoires ensemble. Réservez votre expérience BOOTCAMPSCENTURIO dès aujourdhui.
									<br>
									<strong>Prêt à relever le défi et à devenir le "centurio" de votre propre aventure ?</strong>
									Inscrivez-vous maintenant !
								</p>
							</div>
						</div>
					</div> #}
	</div>
	{# <div class="container-fluid p-5 card-container">
			<div class="row gx-0">
	        {% for product in products %}
	            {% if loop.index <= 2 %}
	                <div class="col-lg-6 ps-2 mb-4">
	                    <div class="card shadow text-center h-100 m-auto" style="width: 20rem;">
	                        <img class="perso" src="{{ asset('images/bootcamps/' ~ product.imageName )}}" alt="image {{ product.forfait }}">
	                        <img src="{{ asset('images/bootcamps/' ~ product.bgName )}}" class="card-img-top" alt="image {{ product.forfait }}">
	                        <div class="card-body">
	                            <h5 class="card-title">{{ product.forfait }}</h5>
	                            <h6 class="card-subtitle mb-2 text-muted">{{ product.level }}</h6>
	                            <p class="card-text mb-5 text-center px-4">{{ product.description }}</p>
	                            <a href="#" class="btn btn-primary card-button">En savoir +</a>
	                        </div>
	                    </div>
	                </div>
	            {% elseif loop.index == 3 %}
	                <div class="col-lg-6 ps-2 mb-4 mx-auto">
	                    <div class="card shadow text-center h-100 m-auto" style="width: 22rem;">
	                        <img class="perso" src="{{ asset('images/bootcamps/' ~ product.imageName )}}" alt="image {{ product.forfait }}">
	                        <img src="{{ asset('images/bootcamps/' ~ product.bgName )}}" class="card-img-top" alt="image {{ product.forfait }}">
	                        <div class="card-body">
	                            <h5 class="card-title">{{ product.forfait }}</h5>
	                            <h6 class="card-subtitle mb-2 text-muted">{{ product.level }}</h6>
	                            <p class="card-text mb-5 text-center px-4">{{ product.description }}</p>
	                            <a href="#" class="btn btn-primary card-button">En savoir +</a>
	                        </div>
	                    </div>
	                </div>
	            {% endif %}
	        {% endfor %}
	    </div> #}
</div></div><div class="container-fluid card-container" id="productBootcamp">
<div class="swiper mySwiper mt-5">
	<div class="swiper-wrapper mt-5">
		{% for product in products %}
			<div class="swiper-slide">
				<div class="card m-auto shadow text-center" style="width: 18rem;">
					<img class="perso" src="{{ asset('images/bootcamps/' ~ product.imageName )}}" alt="image {{ product.forfait }}">
					<img src="{{ asset('images/bootcamps/' ~ product.bgName )}}" class="card-img-top" alt="image {{ product.forfait }}">
					<div class="card-body">
						<h3 class="card-title">{{ product.forfait }}</h3>
						<h4 class="card-subtitle mb-2 text-muted">-
							{{ product.level }}
							-</h4>
						<p class="card-text">{{ product.description }}</p>
						<a href="{{ path('book')}}" class="btn btn-blueboot fw-bold">Réserver +</a>

					</div>
					<div class="row gx-0">
						<div class="bg-blueboot p-2 col-6 border-end border-white fw-bold">
							<p class="text-white">Tarif<br>{{ product.tarifBase }}
								€
							</p>
						</div>
						<div class="bg-blueboot p-2 col-6">
							<p class="text-white fw-bold">Environ<br>
								{{ product.duration }}
								heures
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="swiper-pagination"></div>
</div></div>{% endblock %}
