{% extends 'base.html.twig' %}

{% block title %}Inscription – Bootcamps Centurio{% endblock %}

{% block meta_description %}
Inscris-toi à Bootcamps Centurio pour vivre une aventure unique encadrée par des professionnels. Rejoins la communauté !
{% endblock %}
{% block og_title %}Inscription – Bootcamps Centurio{% endblock %}
{% block og_description %}
Rejoins l’aventure Bootcamps Centurio : dépassement de soi, esprit d’équipe et engagement !
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('register') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('register') }}

{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div id="register" class="container-fluid d-flex justify-content-center align-items-center vh-100 bg-dark">
	<span class="text-light d-block position-absolute top-0 start-0 ps-3 ps-md-5 ms-4 pt-3 fw-bold h3">
			👈 Menu</span>
		<div class="card shadow p-4" style="max-width: 400px; width: 100%;">
			<div class="text-center mb-3">
				
				<img src="{{ asset('images/bootcamps/giphy.webp')}}" alt="register gif" class="img-fluid">
			</div>
			<h1 class="h3 mb-3 font-weight-normal text-center">S'inscrire</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div class="mb-3">
				{{ form_label(registrationForm.email, 'Votre email', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(registrationForm.email) }}
			</div>
			<div class="mb-3 position-relative">
				{{ form_label(registrationForm.plainPassword, 'Votre mot de passe', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'id': 'plainPassword'}}) }}
				{{ form_errors(registrationForm.plainPassword) }}
				<span toggle="#plainPassword" class="lni lni-eye field-icon toggle-password" style="position: absolute; right: 10px; top: 35px; cursor: pointer;"></span>
			</div>
			<div class="mb-3 position-relative">
				{{ form_label(registrationForm.confirmPassword, 'Confirmez le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(registrationForm.confirmPassword, {'attr': {'class': 'form-control', 'id': 'confirmPassword'}}) }}
				{{ form_errors(registrationForm.confirmPassword) }}
				<span toggle="#confirmPassword" class="lni lni-eye field-icon toggle-password" style="position: absolute; right: 10px; top: 35px; cursor: pointer;"></span>
			</div>
			<div class="mb-3 form-check">
				{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
				{{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
				{{ form_errors(registrationForm.agreeTerms) }}
			</div>
			<button type="submit" class="btn btn-lg btn-blueboot w-100">S'enregistrer</button>
			{{ form_errors(registrationForm.agreeTerms) }}
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
