{# templates/booking/form.html.twig #}
{% block modal %}
    <div class="container-fluid">
        <h1>Formulaire de réservation</h1>

        {{ form_start(form, {'attr': {'id': 'bookingForm'}}) }}
        {# {{ form_widget(form.bookAt) }} Champ caché bookAt #}
        {{ form_widget(form.product) }}
        {{ form_widget(form.period) }}
        {{ form_widget(form.isGroup) }}
        {{ form_widget(form.participants) }}
        <button class="btn">Réserver</button>
        {{ form_end(form) }}

        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger">
                {% for message in app.session.flashBag.get('error') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
